a.btn {
    margin: 0 5px;
}

.image-wrapper {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.activity-indicator-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.clickable {
    cursor: pointer;
}

.nav-brand-responsive {
    width: 100%;
}

@media screen and (max-width: 992px) {
    a.btn {
        margin: 5px 0;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: .5; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    100% { opacity: 1; }
    50% { opacity: .5; }
    0% { opacity: 0; }
}

.show {
    animation: .3s ease 0s normal forwards 1 fadeIn;
    opacity: 1 !important;
    visibility: visible !important;
}

.hide {
    animation: .3s ease 0s normal forwards 1 fadeOut;
    opacity: 0 !important;
    visibility: hidden !important;
}
