.bloc {
    background-color: #e3f2fd;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 10px;
}

.buttons-wrapper a {
    margin: 0 5px;
}

.image-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.activity-indicator-wrapper {
    align-items: center;
    display: flex;
    height: 300px;
    justify-content: center;
}

.clickable {
    cursor: pointer;
}
