.puzzle-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.puzzle-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.puzzle-tile {
    align-items: center;
    display: flex;
    background-color: #d32f2f;
    height: 5em;
    justify-content: center;
    margin: 0.25em;
    width: 5em;
}

.puzzle-tile-hover:hover {
    background-color: #f44336;
    cursor: pointer;
}

.pulse, .pulse:hover {
    background-color: #42a5f580;
    z-index: 1;
}

.puzzle-tile-empty {
    height: 5em;
    margin: 0.25em;
    width: 5em;
}

.puzzle-tile-value {
    color: white;
    text-align: center;
}

@-webkit-keyframes pulse-tile {to {box-shadow: 0 0 0 35px #42a5f59e}}
@-moz-keyframes pulse-tile {to {box-shadow: 0 0 0 35px #42a5f59e}}
@-ms-keyframes pulse-tile {to {box-shadow: 0 0 0 35px #42a5f59e}}
@keyframes pulse-tile {to {box-shadow: 0 0 0 35px #42a5f59e}}
